<div class="vote_block">
    <div class="button">
        <button type="button">Like :)</button>
        <button type="button">Dislike :(</button>
    </div>

    <div class="votes">
        <p><%= vote.like %> likes</p>
        <p><%= vote.dislike %> dislikes</p>
    </div>
</div>
