.lateralMenuWrapper{
  width: 0;
}
.lateralMenu{
    background-color: #ffffff;
    width: 244px;
    height: 100%;
    text-align: left;
    position: absolute;
    left : -284px; /* total width = width + 2*padding = 284 */
    top : 120px;
    -webkit-transition: left 0.5s; /* Safari */
    transition: left 0.5s;
    z-index: 100;
    border-right: 1px solid #eaeaea;
}
.lateralMenu .lateralMenuElementLink{ /* nom de catégorie d'admin */
    position: relative;
    top:0.1em;
    font-size: 1.3em;
}

.lateralMenuElement{
    text-align: match-parent;
    padding: 3px;
}

.lateralMenuElementLink{
    padding-left: 5px;
}

.lateralMenuElementExtendable {
    transition: max-height 0.7s;
    overflow: hidden;
    max-height: 300px;
}

.lateralMenuElementExtendable:hover{
    max-height: 300px;
}

.lateralMenuGroup{
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.groupTitle{
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

#administration:hover {
    max-height: 220px;
}

.lateralMenuElementExtendable:hover div {
    display: block;
    opacity: 1;
}

.lateralMenuElement{
  padding:6px;
}
.lateralMenuElement:hover {
    margin: 0px;
    background-color: rgba(0, 136, 255, 0.77);
}

.lateralMenuElement.lateralMenuElementLink a{
    position: relative;
    bottom: 10px;
}

.lateralMenuScrollBox {
    margin-top: 5px;
    margin-bottom: 7px;
}

.lateralMenuElement .lateralMenuScrollingElement {
    position: relative;
    left: 3px;
    margin-left: 38px;
    border-left: 1px solid rgb(139, 139, 139);
    padding-left: 7px;
    padding-top: 4px;
}

.lateralMenuElementExtendable .lateralMenuScrollingElement:hover {
    position: relative;
    margin-left: 37px;
    font-weight: bold;
    padding-left: 6px;
    border-left: 3px solid #ffffff;
}

.lateralMenuElement .lateralMenuScrollingElement {
    position: relative;
    height: auto;
}

.lateralMenuElement:hover .lateralMenuScrollingElement{
    display: block;
    height: auto;
    border-left-color: white;
}

.lateralMenuElement:hover .lateralMenuScrollingElement a{
    color: white;
}

.lateralMenu .lateralMenuScrollingElement a{ /* élement de nav */
    font-size: 1.1em;
}
.lateralMenu .lateralMenuScrollingElement:hover a{
    font-size: 1.1em;
    color: white;
}

.lateralMenuElementIco {
    width: 35px;
    font-size: 23px;
    text-align: center;
    color: rgba(0, 136, 255, 0.77);
}

.lateralMenuElement:hover .lateralMenuElementIco {
    color: #FFFFFF;
}

.lateralMenuElement:hover .lateralMenuElementLink{
    color: white;
}
