<!DOCTYPE html>
<html>

<%- include('generalBlock/head', {head: html.head}); %>

<body>

<%- include('generalBlock/header', {header: html.header}); %>

<%- include('adminBlock/panel', {adminPanel: html.adminPanel, currentPage : ""}); %>

<%- include('generalBlock/footer', {footer: html.footer}); %>

</body>
</html>
