
<!DOCTYPE html>
<html>

<%- include('../generalBlock/head', {head: html.head}); %>

<body>

<%- include('../generalBlock/header', {header: html.header}); %>

<%- include('../adminBlock/panel', {adminPanel: html.adminPanel, currentPage : "manageDemand"}); %>

<div class="mainContentWrapper col-xs-10 col-xs-offset-1">
    <div class="subContentWrapper">
        <div class="bodyTitle">
            <h2>
                Gérer les demandes
            </h2>
        </div>
    </div>
</div>

<%- include('../generalBlock/footer', {footer: html.footer}); %>

</body>
</html>
