<div class="directDiv">
    <div class="directMiniature">
        Image du Direct
    </div>
    <div class="directDescription">
        <span class="directDescriptionTitre">
            <% directDiv.titre %>
        </span>
        <span class="directDescriptionDate">
            <% directDiv.date %>
        </span>
        <span class="directDescriptionDescription">
            <% directDiv.description %>
        </span>
    </div>
</div>