<%#
need : {

  panelSection[]{
	titre : str
	lien : str
	}
}
%>

<div>
	<nav class="panelBar" >
		<% 
		adminPanel.forEach( function(section){
		if (section.lien == "/admin/" + currentPage){
        %>
			<a class="panelElement currentPage" href=" <%= section.lien %> ">
				<span><%= section.titre %></span>
			</a>
        <%
		}
        else {%>
            <a class="panelElement hvr-underline-reveal" href="<%= section.lien %>">
                <span><%= section.titre %></span>
            </a>
        <%
        }
        %>
		<% }); %>
	</nav>
</div>